<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
</head>
<style>
    .article {
      margin-bottom: 30px;
    }
    .title {
      font-size: 24px;
      margin-bottom: 5px;
    }
    .subtitle {
      font-size: 16px;
      color: #666;
      margin-bottom: 10px;
    }
    .image {
      max-width: 100%;
      height: auto;
    }
  </style>
  </head>
  <body> 
    <h1>Menu</h1>
    <ul class="menu">    
    <li><a href="Apresentação.html">Apresentação</a></li>
    <li><a href="matérias.html">Portifólio</a></li>
<body>
<body>
<div class="container">
  <h1>Meus contatos</h1>  
  <div class="contact-info">
    <p><strong>Nome:</strong> Melissa Duarte</p>
    <p><strong>Email:</strong> melissa.duarte@jota.info</p>
    <p><strong>Telefone:</strong> (61) 99118-4367</p>
    <p><strong>Endereço:</strong> Asa Norte, Brasília</p>

  <div class="container">
    <h1>Fale comigo</h1>  
    <div class="contact-info">

    <form action="/enviar" method="post">
        Nome: <input type="text" name="nome"><br>
        E-mail: <input type="email" name="email"><br>
        Mensagem:<br>
        <textarea name="mensagem"></textarea><br>
        <input type="submit" value="Enviar">
    </form>

</body>
</html>
